<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Static patterns definition -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) [%X] - %msg%n" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%X] - %msg%n" />
    <property name="SQL_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] SQL %-5level %logger{36} [%X] - %msg%n" />

    <!-- Appenders for both profiles -->
    <!-- Console appender for both profiles -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/dev.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/prod.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Console SQL Appender  -->
    <appender name="SQL_MARKER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${SQL_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configuration for production environment -->
        <!-- Loggers for production profile -->
        <logger name="info.mackiewicz.bankapp" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.hibernate" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="ch.qos.logback" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework.security" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework.web" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
        </logger>

        <logger name="org.hibernate.type.descriptor.sql" level="INFO" additivity="false">
            <appender-ref ref="SQL_MARKER" />
        </logger>

        <!-- Root logger for production -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
</configuration>